.c1 {
    -fx-text-fill: #bf0000;
}

.c2 {
    -fx-text-fill: #00a616;
}

.c3 {
    -fx-text-fill: #a300cc;
}

.c4 {
    -fx-text-fill: #ff0000;
}

.c5 {
    /*    -fx-text-fill: #7ca698; */
    -fx-text-fill: #c97600;
}

.c6 {
    -fx-text-fill: #592d56;
}

.c7 {
    -fx-text-fill: #cc9933;
}

.c8 {
    -fx-text-fill: #00a2f2;
}

.c9 {
    /*    -fx-text-fill: #e6acbb; */
    -fx-text-fill: #055400;
}

.disabled {
    -fx-text-fill: #ddd !important;
    -fx-font-weight: normal !important;
}

.black {
    -fx-text-fill: black !important;
}

.blue {
    -fx-text-fill: blue !important;
}

.red {
    -fx-text-fill: red !important;
}

.small-label {
    -fx-font-family: sans;
    -fx-font-size: 12px;
    -fx-alignment: center;
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-font-weight: bold;
}

.large-label {
    -fx-font-family: sans;
    -fx-font-size: 32px;
    -fx-alignment: center;
    -fx-pref-width: 64px;
    -fx-pref-height: 64px;
    -fx-background-color: white;
}

.sudoku-cell {
    -fx-pref-width: 64px;
    -fx-min-width: 64px;
    -fx-max-width: 64px;
    -fx-pref-height: 64px;
    -fx-min-height: 64px;
    -fx-max-height: 64px;

}

.small-field-pane {
    -fx-alignment: center;
    -fx-pref-width: 64px;
    -fx-pref-height: 64px;
    -fx-background-color: white;
}

.marked {
    -fx-background-color: #555 !important;
}
